body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  .container {
    position: absolute;
    top: 12%;
    left: 20%;
    width: 90%;
    height: 70%;
    z-index: 1;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.2rem; /* Tamaño del nombre */
}

.navbar-brand img {
    height: 45px; /* Tamaño del logo */
    margin-right: 10px; /* Espacio entre el logo y el nombre */
}

/*** ESTILOS BOTÓN GROW SKEW REVERSE ***/
.ov-btn-grow-skew-reverse {
    background: #f8f9fa; /* color de fondo */
    color: green; /* color de fuente */
    /*border: 2px solid green; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew-reverse:hover {
    color: #f8f9fa;/* color de fuente hover */
  }
  .ov-btn-grow-skew-reverse::after {
    content: "";
    background: green; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew-reverse:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
  }

  .hero {
    background-color: #f8f9fa;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px green;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
            animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: green;
  }
  .cube:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  @-webkit-keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
              transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
              transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  .CodeMirror {
    text-align: left; /* Alinea el texto a la izquierda dentro del editor */
}


.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  display: none;
  padding: 20px;
  overflow: hidden; /* Asegura que nada del modal se desborde */
  overflow-y: auto;
}

.modal-content {
  max-height: 500px; /* Ajusta según tus necesidades */
  overflow-y: auto; /* Habilita scroll vertical cuando sea necesario */
}

.modal table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.modal th, .modal td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  color: #666;
}

.modal th {
  background-color: #f8f8f8;
}

.modal button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
}

.modal button:hover {
  background-color: #45a049;
}

.linea-con-error {
  background-color: #fc4f4f; /* Cambia el color de fondo a rojo claro */
}

.comentario {
  color: green;
}

.palabraReservada {
  color: blue;
}

.numero {
  color: purple;
}

.mensajeSalida {
  color: orangered;
}

.simbolo {
  color: red;
}
